:root{
  --azul-marinho:#004AAD;
  --rosa-pink: #ef6f82;
  --rosa-claro: #ffdee9;
}

/* Remove margens e espaçamento dos elementos da página */
* {
  padding: 0;
  margin: 0;
  font-family: "Red Hat Text", sans-serif;

}

html {
  scroll-behavior: smooth;
}


/* Define o fundo da página e a fonte usada no body*/
body {
  background: #f5f5f5;
  font-family: Arial, sans-serif;
  color: #222;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 0;
  text-align: center;
  z-index: 1000;
}

main{
  margin-top: 8vh; 
}
/* Barra de navegação */
nav {
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1% 0 1% 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.nav-logo{
  width: 50%;
  display: flex;
  justify-content:flex-start;
}
.nav-logo img{
  width: 40%;
  height: auto;
  padding: 0 0 0 25px;
}
/* Links da barra de navegação */
.nav-links {
display: flex;
justify-content: center;
}

.nav-links a{
  color: #1d4f91; 
  text-decoration: none;
  margin-left: 10px;
  padding: 0 20px 0 20px;
  transition: color 0.3s;
  font-size: 20px;
  font-family: "Red Hat Text", sans-serif;
}

/* Mudança dos links quando passa o mouse */
nav a:hover {
  color: #fff8f8; 
}

#mobile-menu{
  display: none;
}

.hamburger {
  display: none; /* escondido no desktop */
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 18px;
  cursor: pointer;
  margin: 0 30px 0 0;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background: var(--azul-marinho);
  border-radius: 5px;
  transition: 0.4s;

}

/* Animação X */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.foto-meninas{
  width: 100%;
  height: 70vh;
  overflow: hidden;
  position: relative;
  background: url('assets/foto-meninas.jpg') center / cover no-repeat fixed;

}

.foto-meninas img{
  width: 100%;
  height: 70vh;
  object-fit: cover;
  filter: brightness(0.9s); 
  transition: transform 8s ease;
}

.foto-meninas::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 75%,  /* 75% sem nada */
    rgba(255, 255, 255, 0.04) 90%,  /* leve toque de branco */
    rgba(255, 255, 255, 0.08) 100%  /* final bem sutil */
  );
}

/* Adicionando espaçamento interno aos textos */
.text {
  padding: 8px;
}

/* Adicionando espaçamento interno diferenciado para a descrição */
#descricao1 {
  padding: 12px;
  text-align: justify; /*Texto justificado do título que nós somos*/
}

.container-descricao{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* Seção de dados */
.secao-dados {
  background-color: #fff;
  width: 45%;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
}

/* Blocos de dados */
.dado {
  background-color: var(--rosa-claro);
  margin-bottom: 15px;
  /* Margem abaixo */
  padding: 15px;
  border-left: 4px solid var(--rosa-pink);
  /* Borda lateral roxa */
  color: #222;
  margin: 0 0 20px 0;
}

/* Links presentes na seção de dados */
.dado a {
  color: #324289;
}

/* Rodapé */
footer {
  width: 100%;
  color: white;
  text-align: center;
  margin-top: 0;
}
.linha{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 10px 0;
}
hr{
  width: 95%;
  color:dimgray;
}

.container-footer{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.footer-img {
  display: flex;
  justify-content: flex-start;
  width: 20%;
}

.footer-img img {
  width: 100%;
  height: auto;
} 

.footer-text{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.footer-text p {
  font-size: 16px;
  color: #333;
  padding: 0 15px 0 15px;
}
.footer-text a {
  color: #333;
  text-decoration: none;
  text-align: center;
}

.footer-text img{
  padding: 0 15px 0 15px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-40%);
  }
}

/*Página de projetos*/

/*ajuste no logo e no tamanho da imagem*/

.secao2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  width: 100%;
  max-width: 320px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  padding: 0 0 10px 0;
}

.card-titulo {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  text-align: left;
  line-height: 1.4;
  margin: 15px;
}

.card-titulo p{
  padding: 20px 0 20px 100px;
}

.card-dados {
  padding: 0 1rem 1rem;
  font-size: 0.875rem;
  color: #333;
  opacity: 95%;
  font-size: 12px;
}

.projetos-filtro{
  display: flex;
  justify-content: flex-start;
  margin: 20px 20px 20px 20px;
}

.projetos-filtro select{
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-size: 18px;
}

.projetos-filtro img{
  padding: 0 10px 0 30px;

}

/*mulheres inspiradoras*/
.section-mulheres{
  background-color: var(--rosa-pink);
  margin: 70px 0 0 0;
}

.titulo-mulheres{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px 0 20px 0;
 color: var(--rosa-claro);
}

.titulo-mulheres h3{
  font-size: 30px;
  font-weight: 100;
}
.titulo-mulheres p{
  font-size: 20px;
  font-weight: 500;
}

.container-mulheres{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0 20px 0;
}

.card-mulheres{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--rosa-claro);
  border-radius: 5px;
  padding: 15px 0px 15px 0px;
  margin: 20px 5px 20px 10px;
  width: 250px; 
  flex-shrink: 0;
}

.card-mulheres img{
  border-radius: 100%;
  width: 60%;
  height: auto;
}

.card-mulheres-text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 15px 0 15px 0;
}

.card-mulheres-text p{
  font-weight: 500;
  color: var(--rosa-claro);
}

.carousel-wrapper {
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  gap: 20px;
  animation: scroll-left 30s linear infinite;
  width: max-content;
}

.button{
  display: flex;
  justify-content: center;
}

.button a{
  color: var(--rosa-pink);
  background-color: var(--rosa-claro);
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  margin: 0 0 20px 0;
  text-decoration: none;
}

.button a:hover {
  background-color: var(--rosa-pink);
  color: var(--rosa-claro);
  transition: background-color 0.3s, color 0.3s;
}

.titulo-mulheres2{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px 0 20px 0;
  color: #333;
  padding: 30px 0 20px 0;
  margin: 10px 0 30px 0;
}

.titulo-mulheres2 h2{
  font-size: 45px;
  font-weight: 100;
}

.titulo-mulheres2 p{
  font-size: 30px;
  font-weight: 500;
}

.container-mulheres2{
  margin: 0 0 50px 0;
}

.subtitulo-mulheres h3{
  font-weight: 100;
  font-family: "Sacramento", cursive;
  padding: 10px 0 15px 190px;
  font-size: 35px;
  color: var(--azul-marinho);

}

.texto-mulheres{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 200px 0 200px;
}

.texto-mulheres img{
  flex: 0 0 200px;
  border-radius: 100%;
  width: 10%;

}

.texto-mulheres p{
  text-align: justify;
  padding: 20px 0 0 20px;
  font-size: 18px;
  font-weight: 100;
  flex: 1 1 600px;
}

.card-mulheres {
  width: 250px; 
  flex-shrink: 0; 
}

/*Página de Sobre as mulheres*/

.titulo-mulheres2{
  display:flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 30px 0 20px 0;
  color: var(--azul-marinho);
}

.titulo-mulheres2 h3{
  font-size: 30px;
  font-weight: 200;
}

.titulo-mulheres2 p{
  font-size: 20px;
}

.text-mulheres img{
  border-radius: 100%;
  width: 10%;
  display: flex;
  justify-content: flex-start;
}


/*Aba de Denuncias*/

.formDenuncia {
  margin-top: 14vh;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center; 
}

form {
  background: white;
  padding: 60px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  max-width: 70vh; 
  width: 90%; 
  margin: 20px auto; 
}

input, textarea, button {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* Ajustes apenas para celular */
@media (max-width: 768px) {

  main{
  margin-top: 6vh; 
}

  /* Menu de navegação em coluna */
  nav {
    align-items: center;
    padding: 10px 0;
    box-shadow: none; /* sombra mais leve ou removida */
  }

  .nav-logo {
    width: 70%;
    justify-content: left;
    margin-bottom: 10px;
  }

  .nav-logo img {
    width: 70%; /* maior destaque do logo */
    padding: 0;
  }



  .hamburger {
    display: flex;
  }

#desktop-menu{
  display: none;
}

#mobile-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  text-align: right;
  top: 60px;
  right: 20px;
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

#mobile-menu a:hover{
  background-color: #dcdcdc;
  border-radius: 8px;
}

  #mobile-menu.active {
    display: flex;
  }

  .foto-meninas{
  width: 100%;
  height:40vh;
  overflow: hidden;
  position: relative;
  background: url('assets/foto-meninas.jpg') center / cover no-repeat fixed;

}

.foto-meninas img{
  width: 100%;
  height: 40vh;
  object-fit: cover;
  filter: brightness(0.9s); 
  transition: transform 8s ease;
}

  /* Descrição */
  .container-descricao {
    flex-direction: column;
    padding: 10px;

  }

  .secao-dados{
    width: 85%;
  }

  #descricao1 {
    padding: 10px;
  }

  /* Filtro */
  .projetos-filtro {
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
  }

  .projetos-filtro img {
    padding: 0 0 5px 0;
  }

  /* Sessão mulheres inspiradoras */
  .container-mulheres {
    flex-direction: row;
    align-items: center;
  }

  .card-mulheres {
    width: 7%;
    margin: 10px 10px 0 0;
  }
.titulo-mulheres2 p{
  font-size: 50px;
}
  /* Texto mulheres */
.subtitulo-mulheres{
  display: flex;
  justify-content: center;
}
.subtitulo-mulheres h3{
  padding: 0;
  font-size: 30px;
}

.texto-mulheres{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.texto-mulheres img{
  width: 30%;
  margin: 0;
  padding: 20px;
}

.texto-mulheres p{
  width: 80%;
  padding: 20px;

}

  /* Filtro */
  .projetos-filtro {
    flex-direction: row;
    align-items: flex-start;
    margin: 10px;
  }

  .projetos-filtro img {
    padding: 0 5px 5px ;
  }
  
  .titulo-mulheres2 h2{
    font-size: 30px;
  }

  .titulo-mulheres2 p{
    font-size: 15px;
  }

  .container-mulheres2{
  margin: 0 0 10px 0;
}

.texto-mulheres p{
  margin: 0 0 30px 0;
  flex: auto;
}

.container-footer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.footer-img{
  width: 60%;
  padding: 25px;
}

.footer-text{
  display: flex;
  flex-direction: column;
}

.footer-text p{
  font-size: 20px;
}
.footer-text a{
  font-size: 20px;
}

}